body {
    font-family: "Trebuchet MS", Verdana, sans-serif;
    font-size: 20px;
    background-color: dimgrey;
    color: navy;
    padding: 3px;
}

#main {
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: dimgrey;
    transform: translate(-50%, -50%);
}

h1 {
    font-family: Georgia, serif;
    border-bottom: 3px solid #cc9900;
    color: #996600;
    font-size: 30px;
}